{{ with .Params.images }}
{{ $author := index .Site.Params.authors .Params.author }}
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}">
<meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
<meta name="twitter:creator" content="@{{ $author.twitter }}">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ index .Params.images 0 }}">
{{ end }}